@{
    ViewData["Title"] = "Home Page";
}

@model List<string>

@if (User.IsInRole("Admin"))
{
    <h2>You are Admin</h2>
}

@if (User.IsInRole("Operator"))
{
    <h2>You are Operator</h2>
}


<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>



@if (User.Identity.IsAuthenticated)
{
    <h3>
        <a asp-controller="Account"
           asp-action="SignOut">SignOut</a>
    </h3>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

